# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
.idea_modules/
*.iml
*.iws
*.ipr
/out/
/out/*.*

# Maven
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
!**/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
/build/

# Spring
/src/main/resources/static/
!/src/main/resources/static/.keep
/src/main/resources/public/
!/src/main/resources/public/.keep

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# User-specific files
local.properties
.vscode/

# Environment files
.env
*.env
